/* .sidebar {
  height: 100vh;
  width: 220px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background: #334155;
  padding-left: 8px;
  transition: 0.2s;
} */
.sidebar {
  width: 220px;
  background: #0f2d4e;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
}

.sidebar a {
  display: block;
  padding: 12px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 6px;
}

.sidebar a.active,
.sidebar a:hover {
  background: #1e4d82;
}