.sidebar {
  position: fixed;     /* Stays while scrolling */
  left: 0;
  top: 0;
  width: 180px;        /* SAME WIDTH */
  height: 100vh;
  background: #1e293b;
  color: white;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}

/* Title */
.sidebar h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

/* Links */
.sidebar a {
  text-decoration: none;
  color: #cbd5e1;
  padding: 10px 12px;
  border-radius: 6px;
  margin-bottom: 6px;
  display: block;
  font-size: 14px;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #334155;
  color: white;
}

.sidebar a.active {
  background: #3b82f6;
  color: white;
}

/* Logout Button */
.sidebar button {
  margin-top: auto;
}