
<div class="container mt-4">
<h2>My Attendance</h2>
<p>Track your daily attendance</p>
  <!-- Header -->
<!-- Summary Cards -->
 <button class="btn btn-outline-primary" routerLink="/leave">
  Leave Management
</button>
<div class="row mb-4">

  <!-- Attendance % -->
  <div class="col-md-4 mb-3">
    <div class="card shadow-sm p-4">
      <h6 class="text-muted">Attendance %</h6>
      <h2 class="fw-bold">{{ attendancePercentage }}%</h2>
    </div>
  </div>

  <!-- Present Days -->
  <div class="col-md-4 mb-3">
    <div class="card shadow-sm p-4">
      <h6 class="text-muted">Present Days</h6>
      <h2 class="fw-bold">{{ presentDays }}</h2>
    </div>
  </div>

  <!-- Total Tracked -->
  <div class="col-md-4 mb-3">
    <div class="card shadow-sm p-4">
      <h6 class="text-muted">Total Tracked</h6>
      <h2 class="fw-bold">{{ attendanceList.length }}</h2>
    </div>
  </div>

</div>

  <!-- Action Buttons -->
  <div class="card shadow p-4 mb-4">
    <div class="row text-center">
      <div class="col-md-6 mb-3">
        <button 
          class="btn btn-success w-100 py-3"
          [disabled]="todayStatus !== 'Absent'"
          (click)="login()">
          Mark Login
        </button>
      </div>

      <div class="col-md-6 mb-3">
        <button 
          class="btn btn-danger w-100 py-3"
          [disabled]="todayStatus !== 'Logged In'"
          (click)="logout()">
          Mark Logout
        </button>
      </div>
    </div>
  </div>

  <!-- Attendance History -->
  <div class="card shadow-sm p-4">
    <h5 class="mb-3">Attendance History</h5>

    <div class="table-responsive">
      <table class="table table-bordered table-striped text-center">
        <thead class="table-dark">
          <tr>
            <th>Date</th>
            <th>Login</th>
            <th>Logout</th>
            <th>Total Hours</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of attendanceList">
  <td>{{ record.date | date:'dd-MM-yyyy' }}</td>
  <td>{{ record.loginTime | date:'shortTime' }}</td>
  <td>{{ record.logoutTime | date:'shortTime' }}</td>
  <td>
    <span *ngIf="record.totalHours; else dash">
      {{ record.totalHours | number:'1.2-2' }}
    </span>
    <ng-template #dash>-</ng-template>
  </td>

  <!-- Status Column -->
  <td>
    <span class="badge"
      [ngClass]="{
        'bg-success': record.logoutTime,
        'bg-warning': record.loginTime && !record.logoutTime,
        'bg-danger': !record.loginTime
      }">
      {{
        record.logoutTime ? 'Present' :
        record.loginTime ? 'Logged In' :
        'Absent'
      }}
    </span>
  </td>
</tr>
        </tbody>
      </table>
    </div>

  </div>

</div>