.page {
  margin-left: 240px;
  padding: 30px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: #f5f7fa;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

.progress-section {
  display: flex;
  gap: 20px;
}

.progress-card {
  background: #f5f7fa;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.bar {
  background: #ddd;
  height: 10px;
  border-radius: 6px;
}

.fill {
  background: #2d6cdf;
  height: 10px;
  border-radius: 6px;
}