/* Reduce gap from sidebar */
.main-content {
  margin-left: 180px;   /* same as sidebar width */
  padding: 20px;
  background: #f1f5f9;
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header h2 {
  margin: 0;
}

.sub {
  color: #64748b;
  margin: 0;
}

/* Pay All Button */
.pay-all-btn {
  background: #4473d9;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
}

/* Summary Cards */
.summary-cards {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;

}


.card-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 380px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

/* Bonus Section */
.bonus-section {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
}

.bonus-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.bonus-actions input {
  width: 200px;
  padding: 6px;
}

.bonus-actions button {
  background: #4473d9;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
}

/* Table */
.table-section {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e2e8f0;
  color: #475569;
}

td {
  padding: 10px;
  border-bottom: 1px solid #f1f5f9;
}

.red {
  color: #ef4444;
}

.green {
  color: #16a34a;
}

/* Status */
.status {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
}

.pending {
  background: #fef3c7;
  color: #d97706;
}

.paid {
  background: #dcfce7;
  color: #16a34a;
}

/* Actions */
.actions {
  display: flex;
  gap: 6px;
  align-items: center;
}

.actions input {
  width: 70px;
  padding: 4px;
}

.add-btn {
  background: #e2e8f0;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
}

.pay-btn {
  background: #4473d9;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
}

.status {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}

.pending {
  background: #fef3c7;
  color: #d97706;
}

.paid {
  background: #dcfce7;
  color: #16a34a;
}

.table-title {
  margin-bottom: 15px;
  font-weight: 600;
}

.paid-table {
  margin-top: 30px;
}
.generate-btn {
  background-color: #4CAF50;
  color: white;
  margin-right: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}