.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
app-sidebar {
  width: 180px;   /* Reduced width */
  flex-shrink: 0;
}

/* Content */
.content {
  flex: 1;        /* Takes remaining space automatically */
  padding: 30px;
  background-color: #f4f6f9;
}