<div class="container mt-4">

  <h2 class="mb-2">Admin Attendance Dashboard</h2>
  <p class="text-muted mb-3">Monitor today’s employee attendance</p>

  <!-- Summary Cards -->
  <div class="row mb-3">

    <div class="col-md-3 mb-3">
      <div class="card shadow-sm p-3 text-center small-card">
        <h6 class="mb-1">Total Employees</h6>
        <h4 class="fw-bold mb-0">{{ totalEmployees }}</h4>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card shadow-sm p-3 text-center bg-success text-white small-card">
        <h6 class="mb-1">Present</h6>
        <h4 class="fw-bold mb-0">{{ presentCount }}</h4>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card shadow-sm p-3 text-center bg-danger text-white small-card">
        <h6 class="mb-1">Absent</h6>
        <h4 class="fw-bold mb-0">{{ absentCount }}</h4>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card shadow-sm p-3 text-center bg-warning text-white small-card">
        <h6 class="mb-1">On Leave</h6>
        <h4 class="fw-bold mb-0">{{ onLeaveCount }}</h4>
      </div>
    </div>

  </div>

  <!-- Percentage -->
  <div class="card shadow-sm p-3 mb-4 text-center small-card">
    <h6 class="text-muted mb-1">Today's Attendance Percentage</h6>
    <h4 class="fw-bold mb-0">{{ attendancePercentage }}%</h4>
  </div>

  <!-- Attendance Table -->
  <div class="card shadow-sm p-3">
    <h5 class="mb-3">Today Attendance List</h5>

    <div class="table-responsive">
      <table class="table table-bordered table-striped table-sm text-center align-middle compact-table">

        <thead class="table-dark">
          <tr>
            <th>Employee Name</th>
            <th>Login Time</th>
            <th>Logout Time</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let record of attendanceList">

            <td>{{ record.employeeName }}</td>

            <td>
  {{ record.loginTime ? (record.loginTime | date:'shortTime') : '----' }}
</td>

<td>
  {{ record.logoutTime ? (record.logoutTime | date:'shortTime') : '----' }}
</td>

            <td>
              <span class="badge"
  [ngClass]="{
    'bg-success': record.status === 'Present' || record.status === 'Logged Out',
    'bg-warning': record.status === 'Half Day' || record.status === 'Logged In',
    'bg-danger': record.status === 'Absent',
    'bg-primary': record.status === 'On Leave'
  }">

  {{ record.status }}

</span>
            </td>

          </tr>
        </tbody>

      </table>
    </div>

  </div>

</div>